/* Charger la police Ubuntu Regular */
@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/Ubuntu-R.ttf') format('truetype');
    font-weight: normal;
}

/* Charger la police Ubuntu Bold */
@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/Ubuntu-B.ttf') format('truetype');
    font-weight: bold;
}

/* Charger la police Ubuntu Italic */
@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/Ubuntu-RI.ttf') format('truetype');
    font-style: italic;
}

/* Charger la police Ubuntu Bold Italic */
@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/Ubuntu-RI.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Charger la police Ubuntu Light */
@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/Ubuntu-L.ttf') format('truetype');
    font-weight: 300;
}

/* Charger la police Ubuntu Light Italic */
@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/Ubuntu-LI.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Charger la police Ubuntu Medium */
@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/Ubuntu-M.ttf') format('truetype');
    font-weight: 500;
}

/* Charger la police Ubuntu Medium Italic */
@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/Ubuntu-MI.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Charger la police Ubuntu Mono Regular */
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/assets/fonts/UbuntuMono-R.ttf') format('truetype');
    font-weight: normal;
}

/* Charger la police Ubuntu Mono Bold */
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/assets/fonts/UbuntuMono-B.ttf') format('truetype');
    font-weight: bold;
}

/* Charger la police Ubuntu Mono Italic */
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/assets/fonts/UbuntuMono-RI.ttf') format('truetype');
    font-style: italic;
}

/* Charger la police Ubuntu Mono Bold Italic */
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/assets/fonts/UbuntuMono-RI.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Utilisez la police Ubuntu pour le texte de la page */
body {
    font-family: 'Ubuntu', sans-serif;
}
